.login{
    background-color:grey;
    min-height: 100vw;
}

.loginDivMain{
    display: flex;
    width: 100%;
    justify-content: center;
}
.loginDiv2{
    margin-top: 5%;
    border-radius: 3%;
    background-color: rgb(246, 233, 138);
}

.loginForm{
    padding: 3%;
    margin-left: 1%;
    margin-right: 1%;
}
.loginSubmit{
   display: flex;
   justify-content: center;
}
